## 笔记：

### 1、KNeighborsClassifier(KNN)可以调节的参数有：

+ n_neighbors: 考虑邻近的多少个点，默认是5，一般选择是奇数；
+ weights: str or callable(自定义类型), 可选参数(默认为 ‘uniform’)
    - ‘uniform’: 统一的权重. 在每一个邻居区域里的点的权重都是一样的。
    - ‘distance’: 权重点等于他们距离的倒数。使用此函数，更近的邻居对于所预测的点的影响更大。
    - [callable]: 一个用户自定义的方法，此方法接收一个距离的数组，然后返回一个相同形状并且包含权重的数组。
+ algorithm（算法）: {‘auto’, ‘ball_tree’, ‘kd_tree’, ‘brute’}, 可选参数（默认为 'auto'）
    - ‘ball_tree’: 使用算法[BallTree](http://scikit-learn.org/stable/modules/generated/sklearn.neighbors.BallTree.html#sklearn.neighbors.BallTree)
    - ‘kd_tree’ 使用算法[KDTree](http://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KDTree.html#sklearn.neighbors.KDTree)
    - ‘brute’ 使用暴力搜索.
    - ‘auto’ 会基于传入[fit](http://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html#sklearn.neighbors.KNeighborsClassifier.fit)方法的内容，选择最合适的算法.
    - 注意 : 如果传入fit方法的输入是稀疏的，将会重载参数设置，直接使用暴力搜索。
+ leaf_size(叶子数量): int, 可选参数(默认为 30)
    - 传入BallTree或者KDTree算法的叶子数量。此参数会影响构建、查询BallTree或者KDTree的速度，以及存储BallTree或者KDTree所需要的内存大小。 此可选参数根据是否是问题所需选择性使用。
+ n_jobs: int, 可选参数(默认为 1)
    - 用于搜索邻居的，可并行运行的任务数量。如果为-1, 任务数量设置为CPU核的数量。不会影响[fit] 
+ metric_params（矩阵参数）: dict, 可选参数(默认为 None)
    - 给矩阵方法使用的其他的关键词参数。
+ metric（矩阵）: string or callable, 默认为 ‘minkowski’
+ p: integer, 可选参数(默认为 2)
    - 用于Minkowski metric(闵可夫斯基空间)的超参数. p = 1, 相当于使用"曼哈顿距离", p = 2, 相当于使用"欧几里得距离", 其他的任何p, 使用的是"闵可夫斯基空间".

### 2、LogisticRegression - 参数说明

+ penalty：惩罚项，str类型，可选参数为L1和L2，默认为L2。用于指定惩罚项中使用的规范。newton-cg、sag和lbfgs求解算法只支持L2规范。L1规范假设的是模型的参数满足拉普拉斯分布，L2假设的模型参数满足高斯分布，所谓的范式就是加上对参数的约束，使得模型更不会过拟合(overfit)，但是如果要说是不是加了约束就会好，这个没有人能回答，只能说，加约束的情况下，理论上应该可以获得泛化能力更强的结果。

+ dual：对偶或原始方法，bool类型，默认为False。

+ tol：停止求解的标准，float类型，默认为1e-4。就是求解到多少的时候，停止，认为已经求出最优解。

+ c：正则化系数λ的倒数，float类型，默认为1.0。必须是正浮点型数。像SVM一样，越小的数值表示越强的正则化。

+ fit_intercept：是否存在截距或偏差，bool类型，默认为True。

+ intercept_scaling：仅在正则化项为”liblinear”，且fit_intercept设置为True时有用。float类型，默认为1。

+ random_state：随机数种子，int类型，可选参数，默认为无，仅在正则化优化算法为sag,liblinear时有用。

+ solver：优化算法选择参数，只有五个可选参数，即newton-cg,lbfgs,liblinear,sag,saga。默认为liblinear。solver参数决定了我们对逻辑回归损失函数的优化方法

### 3、Naive Bayes

#### a、高斯朴素贝叶斯(sklearn.naive_bayes.GaussianNB(priors=None))
+ priors:先验概率大小，如果没有给定，模型则根据样本数据自己计算（利用极大似然法）。

#### b、多项式分布贝叶斯(sklearn.naive_bayes.MultinomialNB(alpha=1.0, fit_prior=True, class_prior=None))
+ alpha:先验平滑因子，默认等于1，当等于1时表示拉普拉斯平滑。
+ fit_prior:是否去学习类的先验概率，默认是True
+ class_prior:各个类别的先验概率，如果没有指定，则模型会根据数据自动学习， 每个类别的先验概率相同，等于类标记总个数N分之一。

#### c、伯努利朴素贝叶斯(sklearn.naive_bayes.BernoulliNB(alpha=1.0, binarize=0.0, fit_prior=True, class_prior=None))
+ alpha:平滑因子，与多项式中的alpha一致。
+ binarize:样本特征二值化的阈值，默认是0。如果不输入，则模型会认为所有特征都已经是二值化形式了；如果输入具体的值，则模型会把大于该值的部分归为一类，小于的归为另一类。
+ fit_prior:是否去学习类的先验概率，默认是True
+ class_prior:各个类别的先验概率，如果没有指定，则模型会根据数据自动学习， 每个类别的先验概率相同，等于类标记总个数N分之一。

Sympy: 符号计算，积分微分等，矩阵积分




Scipy



mathmatic商业软件（比较强大）

In [1]:
def edit_distance(string1, string2):
    """string1 => string2"""
    len1, len2 = len(string1), len(string2)
    if len1 == 0 and len2 == 0: return 0, {}, []
    if len2 == 0: return len1, {(string1[i:], string2): 'DEL {char}'.format(char=c) for i, c in enumerate(string1)}, []
    if len1 == 0: return len2, {(string1+string2[:i], string2): 'ADD {char}'.format(char=c) for i, c in enumerate(string2)}, []
    solution = {}
    dp = [[0] * (len2+1) for _ in range(len1+1)]
    dp_s = [[('', '')] * (len2+1) for _ in range(len1+1)] 
    dp_s[0][0] = (string1, string2)
    duplication = []
    for i in range(1, len2+1):
        dp[0][i] = i
        dp_s[0][i] = (string2[:i]+string1[i:], string2)
    for i in range(1, len1+1):
        dp[i][0] = i
        dp_s[i][0] = (string1, string2)
    for i in range(1, len1+1):
        for j in range(1, len2+1):
            if string1[i-1] == string2[j-1]:
                dp[i][j] = dp[i-1][j-1]
                dp_s[i][j] = dp_s[i-1][j-1]
                duplication.append(string1[i-1])
            else:
                options = [(dp[i-1][j-1], 'sub'), (dp[i-1][j], 'del'), (dp[i][j-1], 'add')]
                tmp = min(options)
                dp[i][j] = tmp[0] + 1
                if tmp[-1] == 'sub':
                    operation = 'SUB {char1} to {char2}'.format(char1=string1[i-1], char2=string2[j-1])
                    s1, s2 = state = dp_s[i-1][j-1]
                    dp_s[i][j] = (s1[:i-1] + s2[j-1] + s1[i:], s2)
                elif tmp[-1] == 'del':
                    operation = 'DEL {char}'.format(char=string1[i-1])
                    s1, s2 = state = dp_s[i-1][j]
                    dp_s[i][j] = (s1[:i-1]+s1[i:], s2)
                else:
                    operation = 'ADD {char}'.format(char=string2[j-1])
                    s1, s2 = state = dp_s[i][j-1]
                    dp_s[i][j] = (s1[:i]+s2[j-1]+s1[i:], s2)
                solution[state] = operation
    return dp[-1][-1], solution, duplication

In [2]:
edit_distance('garcg', 'kacfg')

(3,
 {('garcg', 'kacfg'): 'SUB g to k',
  ('karcg', 'kacfg'): 'SUB r to c',
  ('kaarcg', 'kacfg'): 'ADD c',
  ('kcaarcg', 'kacfg'): 'ADD f',
  ('kacrcg', 'kacfg'): 'ADD f',
  ('kafcrcg', 'kacfg'): 'ADD g',
  ('krcg', 'kacfg'): 'DEL r',
  ('kaccg', 'kacfg'): 'ADD f',
  ('kacfcg', 'kacfg'): 'ADD g',
  ('krg', 'kacfg'): 'DEL g',
  ('kacg', 'kacfg'): 'SUB g to f',
  ('kacgf', 'kacfg'): 'ADD g',
  ('kac', 'kacfg'): 'DEL g'},
 ['g', 'a', 'c', 'g'])

In [17]:
def edit_distance1(s, t):
    """s => t"""
    len1, len2 = len(s), len(t)
    if len1 == 0 and len2 == 0: return 0, {}, []
    if len2 == 0: return len1, {(s[i:], t): 'DEL {char}'.format(char=c) for i, c in enumerate(s)}, []
    if len1 == 0: return len2, {(s+t[:i], t): 'ADD {char}'.format(char=c) for i, c in enumerate(t)}, []
    solution = {}
    dp = [[0] * (len2+1) for _ in range(len1+1)]
    dp_s = [[('', '')] * (len2+1) for _ in range(len1+1)] 
    dp_s[0][0] = (s, t)
    duplication = []
    for i in range(1, len2+1):
        dp[0][i] = i
        dp_s[0][i] = (t[:i]+s[i:], t)
    for i in range(1, len1+1):
        dp[i][0] = i
        dp_s[i][0] = (s, t)
    for i in range(1, len1+1):
        for j in range(1, len2+1):
            if s[i-1] == t[j-1]:
                dp[i][j] = dp[i-1][j-1]
                dp_s[i][j] = dp_s[i-1][j-1]
                duplication.append(s[i-1])
            else:
                options = [(dp[i-1][j-1], 'sub'), (dp[i-1][j], 'del'), (dp[i][j-1], 'add')]
                tmp = min(options)
                dp[i][j] = tmp[0] + 1
                if tmp[-1] == 'sub':
                    operation = 'SUB {char1} to {char2}'.format(char1=s[i-1], char2=t[j-1])
                    s1, s2 = state = dp_s[i-1][j-1]
                    dp_s[i][j] = (s1[:i-1] + s2[j-1] + s1[i:], s2)
                elif tmp[-1] == 'del':
                    operation = 'DEL {char}'.format(char=s[i-1])
                    s1, s2 = state = dp_s[i-1][j]
                    dp_s[i][j] = (s1[:i-1]+s1[i:], s2)
                else:
                    operation = 'ADD {char}'.format(char=t[j-1])
                    s1, s2 = state = dp_s[i][j-1]
                    dp_s[i][j] = (s1[:i]+s2[j-1]+s1[i:], s2)
                solution[state] = operation
    return dp[-1][-1], solution, duplication

In [33]:
# s -> t
def edit_distance(s, t):
    len1, len2 = len(s), len(t)
    if len1 == 0 and len2 == 0: return 0
    if len2 == 0: return len1
    if len1 == 0: return len2
    solution = {}
    dp = [[0] * (len2+1) for _ in range(len1+1)]
    for i in range(1, len2+1):
        dp[0][i] = i
    for i in range(1, len1+1):
        dp[i][0] = i
    for i in range(1, len1+1):
        for j in range(1, len2+1):
            if s[i-1] == t[j-1]:
                dp[i][j] = dp[i-1][j-1]
            else:
                options = [(dp[i-1][j-1], 'sub'), (dp[i-1][j], 'del'), (dp[i][j-1], 'add')]
                tmp = min(options)
                dp[i][j] = tmp[0] + 1
    return dp[-1][-1]

In [35]:
edit_distance('garcg', 'kacfg')

3

In [36]:
ss = '''
原标题：叙利亚被“袭机”事件惹怒俄罗斯 警告将瞄准美战机
　　海外网6月19日电 当地时间6月19日，俄罗斯国防部对美国军方击落叙利亚飞机一事作出反击，宣布停止执行俄美两国签署的“在叙飞行安全备忘录”，并称以后美国领导的国际联军所有的战机，都是俄罗斯军方监控与瞄准的目标，叙利亚局势进一步复杂化。
　　据纽约时报消息，由于美国军方今日击落了一架叙利亚军机，俄罗斯国防部发布消息，自6月19日起暂停执行俄美间在叙利亚领空“防止空中事件和保障行动期间飞行安全”的相互谅解备忘录。要求美方指挥部对此事件进行彻查，结果与俄方共享。
　　公告称：“俄空军在叙利亚领空执行任务的地区里，幼发拉底河西岸发现的任何飞行物，包括美国领导的国际联军的飞机和无人机，都将是俄罗斯军方地面和空中防空武器监控与瞄准的目标。”
　　据叙利亚军方声明，当地时间6月19日，一架政府军机正前往拉卡（Raqqa）市，准备对盘踞于此的IS武装分子进行打击，却突然遭到美军袭击，飞行员至今失踪。声明称：“这次袭击发生的时机，是在叙利亚政府及其盟国的军队在与IS恐怖分子的战斗中获得优势的情况下发生的，本来这些恐怖分子已经在叙利亚的沙漠中节节败退。”
　　此次“袭机”事件“惹怒”了俄罗斯，俄罗斯参议院国防委员会副主席弗朗茨·克莱琴谢夫（Frants Klintsevich）称美军的行动是“挑衅行为”，实际上是对叙利亚的“军事侵略”。
　　该部门认为，美军“故意不履行双方2015年签署的“安全备忘录”中规定的义务，因此宣布暂停与美军在该框架下的合作。据报道，该协议一直是美俄两国军队协调在该地区的军事活动的关键。俄罗斯、美国、叙利亚、土耳其等国家在叙利亚的诉求经常是相冲突的，该协议就在其中起到调和作用。在特朗普四月下令袭击叙利亚空军之后，俄方表示将暂停协议，不过几个星期之后又重启，这次时隔两月后再被中断。
　　俄罗斯外长拉夫罗夫在回应记者时也表示，“涉及到叙利亚地面所发生的事情，毫无疑问，我们认为有必要尊重叙利亚的主权和领土完整，这是联合国2254号决议和其他文件规定的。因此，任何地面行动，包括实施军事行动的参与方，需得到大马士革的许可。”（编译/海外网 杨佳）
'''

dd = '''
任何事物的变化都可以用数据进行描述。反之，也能从已有的数据中也隐含了事物的变化过程，需要我们善于从数据的角度去发现一些规律，这样才能解决我们面临的问题。没有数据支撑的机器学习算法模型也纯粹是空谈。这就要求我们具有对数据一定的理解能力，善于从数据中去发现我们需要解决问题的规律。
'''

In [37]:
edit_distance(ss, dd)

883

In [1]:
import pandas as pd

In [3]:
area=pd.Series([55555,44444,None,22222,11111])
pop=pd.Series([51,42,33,24,15])
yn=pd.Series([1,0,1,0,1])
data=pd.DataFrame({'area':area,'pop':pop, 'yn':yn})
data

      area  pop  yn
0  55555.0   51   1
1  44444.0   42   0
2      NaN   33   1
3  22222.0   24   0
4  11111.0   15   1

In [27]:
df1 = data[data['yn'] == 1].sample(n=5,replace=True)
df2 = data[data['yn'] == 0].sample(n=5,replace=True)

In [28]:
df1

      area  pop  yn
2      NaN   33   1
4  11111.0   15   1
0  55555.0   51   1
2      NaN   33   1
4  11111.0   15   1

In [29]:
df2

      area  pop  yn
1  44444.0   42   0
1  44444.0   42   0
3  22222.0   24   0
3  22222.0   24   0
3  22222.0   24   0

In [36]:
df = df1.merge(df2, how='outer')

In [37]:
df.index = range(len(df))

In [38]:
df

      area  pop  yn
0      NaN   33   1
1      NaN   33   1
2  11111.0   15   1
3  11111.0   15   1
4  55555.0   51   1
5  44444.0   42   0
6  44444.0   42   0
7  22222.0   24   0
8  22222.0   24   0
9  22222.0   24   0

In [75]:
data_new = data.dropna(subset=['area'])

In [76]:
data_new

      area  pop
0  55555.0   51
1  44444.0   42
3  22222.0   24
4  11111.0   15

In [77]:
data_new.index = range(len(data_new))

In [78]:
data_new

      area  pop
0  55555.0   51
1  44444.0   42
2  22222.0   24
3  11111.0   15

In [24]:
data.ix[0,0]

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

55555

In [25]:
data[data['pop'] > 40]

            area  pop
Guangzhou  55555   51
Shenzhen   44444   42

In [26]:
data

            area  pop
Guangzhou  55555   51
Shenzhen   44444   42
Dongguan   33333   33
Foshan     22222   24
Zhuhai     11111   15

In [27]:
def setLoc(x):
    if x < 30: return 10
    if x < 45: return 6
    return 1

In [28]:
data['val'] = data['pop'].apply(lambda x: setLoc(x))

In [47]:
data

            area  pop  val
Guangzhou  55555   51    1
Shenzhen   44444   42    6
Dongguan   33333   33    6
Foshan     22222   24   10
Zhuhai     11111   15   10

In [68]:
data.iloc[0]

area    55555
pop        51
val         1
Name: Guangzhou, dtype: int64

In [31]:
min(data['pop'])

15

In [32]:
data[data['pop'] == min(data['pop'])]

         area  pop  val
Zhuhai  11111   15   10

In [39]:
from sklearn.metrics.pairwise import cosine_similarity
 
a = [[1, 3, 2], [2, 2, 1]]
print(cosine_similarity(a))

[[1.         0.89087081]
 [0.89087081 1.        ]]

In [40]:
import numpy as np

In [45]:
vector_a = [1, 3, 2]
vector_b = [2, 2, 1]


cos_sim(vector_b, vector_a)

0.945435403187374

In [46]:
np.linalg.norm(vector_a)

3.7416573867739413